/*  FONT DECLARATIONS
===================================== */

body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    color: #262626;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf');
}

/*  COLOR PALETTE
===================================== */

/* These control your TEXT colors */
body { color: #353535; }
.dark { color: #262626; }
.light { color: #ececee; }
.primary { color: #289784; }
.secondary { color: #3ac162; }
.accent { color: #ffcb05; }

/* These control your BACKGROUND colors */
body { background-color: #353535; }
.bg-dark { background-color: #353535; }
.bg-light { background-color: #ececee; }
.bg-primary { background-color: #289784; }
.bg-secondary { background-color: #3ac162; }
.bg-accent { background-color: #ffcb05; }

/*  BASE STYLES
===================================== */

button {
    cursor: pointer;
}

label,
output {
    font-weight: inherit;
    letter-spacing: 1px;
    margin-left: 20px;
}

label {
    margin-left: 50px;
}

input[type='number'] {
    width: 75px;
    margin-left: 10px;
}

input[type='range'] {
    width: 100px;
    margin-left: 10px;
}

input[type='number']:focus {
    outline: 1px solid #3ac162;
}

input[type='range'] {
    vertical-align: middle;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #ffcb05;
    border: none;
    margin: 30px auto 0 auto;
}

/*  HERO
===================================== */

.hero {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background-image: url('../img/middle-earth-map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    border-bottom: 2px solid #ececee;
    padding: 60px 0;
    margin: 0 auto;
}

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px 40px rgba(0,0,0,.6);
    content: '';
    z-index: 5;
}

.hero img {
    width: 85%;
    max-width: 500px;
    max-height: 50vh;
    margin: 0 auto;
}

/*  IPSUM OUTPUT
===================================== */

.output {
    float: none;
    max-width: 1000px;
    font-size: .9em;
    border-radius: 4px;
    padding: 40px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.output div {
    display: inline-block;
}

#generate {
    height: 50px;
    vertical-align: middle;
    font-size: .95em;
    padding: 0 35px;
}

#copy {
    height: 50px;
    vertical-align: middle;
    font-size: 1.5em;
    padding: 0 15px;
}

#copy:after {
    font-family: 'icomoon';
    content: "\e9b8";
}

#input-p-error {
    opacity: 0;
    -webkit-transition: opacity .33s;
    transition: opacity .33s;
    cursor: default;
    width: 100%;
    max-width: 1000px;
    color: rgba(255,255,255,.69);
    text-align: center;
    letter-spacing: 1px;
    background-color: #EF4B57;
    border-radius: 4px;
    padding: 15px 0;
    margin: 15px auto;
}

.error {
    outline: 2px solid #E31E30;
}

#insert {
    margin-top: 30px;
    margin-bottom: 0;
    word-break: keep-all;
}

/*  FOOTER AREA
===================================== */

.footer {
    color: #ececee;
    font-size: .95em;
    text-align: center;
    background-image: url('../img/tree_of_gondor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 100px 0;
    margin: 100px auto;
}

.footer hr {
    width: 70px;
    margin: 20px auto;
}

.footer a {
    color: #ececee;
    text-decoration: none;
}

.footer a:first-of-type {
    border-bottom: 1px solid #3ac162;
}

.footer a:hover {
    color: #3ac162;
}

#github {
    color: #ececee;
    font-size: .9em;
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#github:after {
    font-family: 'icomoon';
    font-size: 1.6em;
    content: "\eab0";
    margin-left: 15px;
}

footer {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    background-image: url('../img/middle-earth-map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 2px solid #ececee;
    padding: 60px 0;
    margin: 0 auto;
}

footer:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 100px 40px rgba(0,0,0,.6);
    content: '';
    z-index: 5;
}

/*  MEDIA QUERIES
===================================== */

@media (max-width: 950px) {
    .output div,
    #generate,
    label {
        display: block;
        text-align: center;
        margin: 25px auto;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 30px 0;
    }
    .hero::after {
    box-shadow: inset 0 0 50px rgba(0,0,0,.6);
    }
    #input-p-error {
        font-size: .9em;
    }
    .output {
        padding-left: 10%;
        padding-right: 10%;
    }
    output {
        display: block;
        text-align: center;
        margin: 5px auto;
    }
}